---
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-English.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Learn English</title>
	</head>
	<body>
		<div class="absolute inset-0 h-full w-full bg-[#0a0a0a]">
			<div class="absolute inset-0 bg-[linear-gradient(rgba(255,255,255,0.05)_1px,transparent_1px),linear-gradient(90deg,rgba(255,255,255,0.05)_1px,transparent_1px)] bg-[size:24px_24px]">
				<slot />
				</div>
			</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		color: white;
		@apply grid place-content-center;
	}

	body > div {
		@apply container;
	}
</style>
